.collaborations__description {
  margin: 0;
  font-size: 9px;
  line-height: 1.2;
  font-weight: 400;
}

@media (min-width: 1000px) {
  .collaborations__description {
    font-size: 16px;
    line-height: 28px;
  }
}