.collaborations__subtitle {
  margin: 0 0 9px;
  font-size: 32px;
  line-height: 40px;
  font-weight: 700;
}

@media (min-width: 1000px) {
  .collaborations__subtitle {
    font-size: 60px;
    line-height: 70px;
  }
}

